@charset "utf-8";

@font-face {
	font-family: "Franklin Gothic Demi";
	src: url("../fonts/Franklin Gothic Demi/FranklinGothicDemi.ttf");
}



#logo{
    position: absolute;
    z-index: 2;
    margin-left: 5%;
    width: 10%;
}

#imagen{
width:100%;
height:auto;
}


#nav{
	font-family: "Franklin Gothic Demi";
    z-index: 0;
    margin-bottom: 5%;
	color:#FFFFFF !important;
	padding: 0;
}

#general{
	max-width:1280px;
	position: relative;
}


body{
font-family: "Franklin Gothic Demi";	
}

.navbar-custom{
	background-color:#CB2E3A; 
	font-size:18px;
}	

.nav-item{
    text-align: right;
}

.navbar-nav > .active > a {
color: white !important;
margin: 20px;
}

#donate {
    background-color: #061032;
margin: 20px;
}

#donate-nav{
    background-color: #061032;

}

#title{
    font-family: "Franklin Gothic Demi";
    width: 100%;
    color: #BF2D3F;
    font-size: 2.06em;
    margin-bottom: 3%;
    margin-top: 10%;
}

#fotitos h5{
	font-family: "Franklin Gothic Demi";
	font-size:1.25em;
	text-align:center;
}

#fotitos h3{
	font-family: "Franklin Gothic Demi";
	font-size:1.25em;
	text-transform: uppercase;
	text-align:center;
}

#fotitos p{
	font-family: "Franklin Gothic Demi";
	font-size:1.06em;
}

.card-deck {
  margin: 0 -15px;
  justify-content: space-between;
}

.card-deck .card {
  margin: 0 0 1rem;
}



#ready{
	text-align:center;
	margin-top:3%;
}

#ready2{
	font-family: "Franklin Gothic Demi";
	text-transform:uppercase;
	background-color:#BF2D3F;
	font-size:1.12em;
}

#extra p{
	font-size:1.12em;
}

#intro h2{
	margin-top:2%;
	font-family: "Franklin Gothic Demi";
	text-align:center;
	text-transform: uppercase;
	color:#FFB620;
	font-size:1.56em;
	
}

#intro p{
	font-family: "Franklin Gothic Demi";
	text-align:center;
	color:#061032;
	font-size:1.3em;
	
}

#intro2 h3, #intro3 h3, #intro4 h3{
	text-align:left;
 	font-family: "Franklin Gothic Demi";
	font-size:1.3em;
	text-transform: uppercase;
	color:#0B5DA7;
}


#check{
text-align:left;	
margin-top:2%;
text-transform: uppercase;
}

#check2{
text-align:left;
text-transform: uppercase;
margin-bottom: 2%;
}

#submit{
	font-family: "Franklin Gothic Demi";
	text-transform:uppercase;
	background-color:#BF2D3F;
	font-size:1.12em;
	
}

.form-group{
	font-family: "Franklin Gothic Demi";
	font-size:1.12em;
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}




#title2 h2{
	margin-top:3%;
	font-family: "Franklin Gothic Demi";
	text-align:center;
	text-transform: uppercase;
	color:#061032;
	font-size:1.56em;
}

#starvation p{
	font-family: "Franklin Gothic Demi";
	font-size:1.25em;
}

#famine{
	border-left: 11px solid #BF2D3F;
    padding-left: 2%;
    margin-top: 2%;
}

#song{
	font-family: "Franklin Gothic Demi";
	text-transform:uppercase;
	background-color:#BF2D3F;
	font-size:0.93em;
}

#extra p{
	font-size:1.12em;
}

#contact{
	font-family: "Franklin Gothic Demi";
	margin-top:3%;
	background-color: #061032;
	color:#FFF;
}

#infodelcarajo, #address{
	padding-top: 5%;
	padding-bottom: 3%;
}

#infodelcarajo h4, #address h4{
    text-transform: uppercase;
    font-size: 1.25em;
}

#infodelcarajo p, #address p{
font-size:1em;
}

#SignupBTN{
text-transform: uppercase;
font-size: 0.75em;
}

#address{
	text-align: right;
}

#footer{
	font-family: "Franklin Gothic Demi";
	widht:100%;
	text-align: center;
	background-color: #061032;
	color:#FFF;
	font-size: 0.93em;
	padding-bottom:2%;
}




@media screen and (max-width:768px){
	
#title h1{
	font-size:1em;
}

#infodelcarajo h4, #address h4{
    font-size: 1em;
}

#infodelcarajo p, #address p{
font-size:0.75em;
}

#SignupBTN{
font-size: 0.5em;
}

#footer{
	font-size: 0.75em;
	padding-bottom:2%;
}
	

#fotitos h5{
	font-size:0.9em;

}

#fotitos h3{
	font-size:1em;

}

#fotitos p{
	font-size:0.80em;
}
	
	#title2 h2{
		font-size:1.25em;	
	}
	
	#famine p, #extra p, #song{
		font-size: 0.93em;
	}
	
}

	@media screen and (max-width:480px){
			#address{
		display: none;
	}
		#title h1{
	font-size:1em;
}

	}